<section>
    <form id="orgForm" ="max-w-sm mx-auto">
        <label for="organization" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an option</label>
        <select id="organization" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>Choose a organization</option>
        </select>
    </form>
</section>

<script is:inline>
    document.addEventListener("astro:page-load", async () => {
        const select = document.getElementById('organization');
        if (select) {
            console.log("Element with id='organization' has been loaded.");
            // Llamada a la API
            try {
                const response = await fetch('/api/organization/apiroute', {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    });
                const data = await response.json();
                // Populate the select dropdown with organizations
                if (data.organizations && Array.isArray(data.organizations)) {
                    data.organizations.forEach(org => {
                        const option = document.createElement('option');
                        option.value = org.id; // Assuming each organization has an 'id'
                        option.textContent = org.description; // Assuming each organization has a 'name'
                        select.appendChild(option);
                    });
                }
            } catch (error) {
                console.error("Error fetching organization data:", error);
            }
        }
        

        
    });    
  
</script>