---
import Aside from "@components/Aside.astro"
import SiteLayout from "@layouts/SiteLayout.astro"
---
<SiteLayout>
    <section class="flex-grow">
        <div class="flex h-full">
			<aside class="w-1/4 h-full">
			    <Aside/>
			</aside> 
			<main class="w-3/4">main</main>
		</div>		
    </section>
</SiteLayout>