---
import SiteLayout from "@layouts/SiteLayout.astro";
import { SignIn as SignInComponent } from "@clerk/astro/components";
---

<SiteLayout>
  <section class="flex-grow flex items-center justify-center">
    <SignInComponent />
  </section>  
</SiteLayout>
