---
import Aside from '@components/Aside.astro';
import FormSet from '@components/threshold/FormSet.astro';
import SiteLayout from '@layouts/SiteLayout.astro';

---

<SiteLayout>
    <section class="flex-grow">
        <div class="flex h-full">
			<aside class="w-1/5 h-full">
			    <Aside/>
			</aside> 
			<main class="w-4/5">
				<FormSet />
			</main>
		</div>		
    </section>
</SiteLayout>